$dark: #2e1d0f;
$secondary: #c1440e;
$primary: #f58100;
$warning: #fdb833;
$light: #f8f5e9;

$font-family-base: 'Open Sans', sans-serif;

@import 'bootstrap/scss/bootstrap';

@import 'bootstrap-icons/font/bootstrap-icons.css';
